body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
}

@font-face {
    font-family: imagination;
    src: url(RonduitCapitals-Light.otf);
}

@font-face {
    font-family: aquire;
    src: url(quire.otf);
}

div#sketchpad {
    display: flex;
    width: 800px;
    height: 800px;
    flex-wrap: wrap;
}

.row {
    flex: 1;
    flex-direction: column;
    display: flex;
}

.pixels {
    flex: 1;
    background-color: #b3b3b3;
    border: 1px solid grey;
}

.clickedPixels {
    background-color: darkseagreen;
}

h1 {
    font-family: aquire;
}

footer {
    font-family: imagination;
}

img {
    max-width: 200px;
}

button {
    border-radius: 5px;
}