body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
}

@font-face {
    font-family: imagination;
    src: url(RonduitCapitals-Light.otf);
}

@font-face {
    font-family: aquire;
    src: url(quire.otf);
}

div#sketchpad {
    display: flex;
    width: 800px;
    height: 800px;
    flex-wrap: wrap;
}

.row {
    flex: 1;
    flex-direction: column;
    display: flex;
}

.pixels {
    flex: 1;
    background-color: white;
    border: 1px solid grey;
}


.clickedPixels {
    background-color: black;
    border: 1px solid black;
}
.clickedPixelsWarped {
    background-color: black;
    border: none;
}

h1 {
    font-family: aquire;
    display: flex;
    justify-content: center;
}

footer {
    font-family: imagination;
    align-self: center;
}

.copyright {
    display: flex;
    justify-content: space-around;
}

img {
    max-width: 200px;
}

button {
    border-radius: 5px;
    margin: 10px 10px 5px;
}


.underSketch {
    display: flex;
    justify-content: space-between;
}

.mode {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modeTxt {
    margin: 10px 10px 5px;
}

/*

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}


.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 34px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.toggle:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    border-radius: 50%;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .toggle {
    background-color: #2196F3;
}

input:focus + .toggle {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .toggle:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

*/